<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add employee</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/userForm.css">
</head>
{{> header}}
<body>
  <h1>Add employee</h1>
  <form action="" method="post">
  <ul>
    <li>
      <label for="lastName">Прізвище:</label>
      <input type="text" name="lastName" />
    </li>
    <li>
      <label for="roomNumber">Номер кімнати:</label>
      <input type="text" name="roomNumber" />
    </li>
    <li>
      <button type="submit">Add</button>
    </li>
  </ul>
</form>
</body>
</html>
